<div class="home-wrapper">
    <div *ngFor="let item of state; index as idx">
        <tooltip [id]="idx"
            [isOpen]="item.tooltip.isOpen"
            (onOutsideClick)="onClickOutside($event)"
            (onEscPressed)="onEscPressed($event)"
            [content]="item.tooltip.content">
        </tooltip>
        <button type="button"
            (click)="toggleTooltip(idx)"
            class="{{item.button.class}}">
            {{ item.button.name }}
        </button>
    </div>
</div>
